h2 {
    color: #8B1E3F;
    text transform: 
}
h1 {color:#333533
}
body{background-color: #A2E3C4}

.container {background-color: #EFE9F4}

body{ background-image: url(https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0389/5740/rryuliussdesign_rockets_shop_preview.png)
}
ul{ list-style: none}
.surname{color:#5E5B52}
/***Resume Head**/
H2 {color: #333533}
#right-col h2{color:pink}

/**Education Experience***/
#education {margin-top: 2
    em; }
H3{color: #FC7A57 }

.me {border-radius: 50%; }