* {
	margin: 0;
}

body {
	background-image: url("https://images.fineartamerica.com/images-medium-large-5/dreamy-carnival-ferris-wheel-stars-ferris-wheel-pink-and-white-fairytale-prints-kathy-fornal.jpg");
	background-repeat: no-repeat;
	height:100%;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	filter: blue(8px);
}
	
.message {
	

padding: 20px;
	text-align: justify;
	font-family: Monotype Corsiva;
	color: #ffffff;
	font-size: 22px;
	border: 3px solid #f1f1f1;
	top: 50%;
	bottom: 50%;
	transform: translate(10%, 10%);
	z-index: 2;
	width: 80%;
	background-color: rgb(255,252,232);
	background-color: rgba(0,0,0,0.4);

}
p {
	#border-color: #f49242;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;


}